/* здесь используйте глобальные переменные */
:root {
  --color-text: hsl(275, 5%, 10%);
  --color-nuance-light: hsl(275, 15%, 92%);
  --color-nuance-dark: hsl(275, 10%, 80%);
  --color-accent: hsl(275, 70%, 75%);
}
