/* GLOBAL */
@import "./common/variables.scss";
@import "./common/global.scss";
@import "./common/fonts.scss";

/* BLOCKS */

.feature-support {
  margin-bottom: 7rem;

  padding: 3rem;
  border-radius: 2rem;
  width: 100%;

  font-size: 3rem;
  background-color: #faebd7;

  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;

  user-select: auto;
}

.feature-support .feature-text {
  margin-block: 0;
}

.feature-support .feature-input-wrapper {
  width: 100%;

  display: flex;
  align-items: center;
  gap: 2rem;
}

.feature-support .feature-select {
  padding: 1rem;
  border-radius: 1rem;

  font-size: 3rem;
}

.feature-support .feature-option {
  font-size: 3rem;
}

.feature-support .feature-input {
  padding: 1rem 2rem;
  border-radius: 1rem;
  width: 50%;
  flex-grow: 1;

  font-size: 3rem;
  color: #000000;

  user-select: auto;
}

.feature-support .feature-send {
  font-size: 3rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.feature-support .feature-custom-properties {
  --sucess: #008000;

  color: #ff6347;
  /* stylelint-disable-next-line declaration-block-no-duplicate-properties */
  color: var(--sucess);
}
