.form {
  border-radius: 0.6rem;
  border: 0.1rem solid #d3d3d3;
  padding: 1rem;
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem;
  align-items: center;

  font-size: 1rem;
}

.form__text {
  margin-block: 0;
  font-size: 1.2rem;

  &:empty {
    display: none;
  }
}

.form__input-wrapper {
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 0.6rem;
}

.form__select {
  border-radius: 0.3rem;
  border: 0.1rem solid #d3d3d3;
  padding: 0.3rem;
  width: 100%;

  font-family: var(--font-family-mono);
  font-size: 1rem;

  background-color: transparent;
}

.form__option {
  font-family: var(--font-family-mono);
  font-size: 1rem;
}

.form__input {
  border-radius: 0.3rem;
  border: 0.1rem solid #d3d3d3;
  padding: 0.3rem 0.6rem;
  width: 100%;

  font-family: var(--font-family-mono);
  font-size: 1rem;

  color: #000000;
}

.form__submit {
  align-self: start;

  border-radius: 0.3rem;
  border: 0.1rem solid #d3d3d3;
  padding: 0.3rem 0.6rem;

  font-family: var(--font-family-basic);
  font-weight: 500;
  font-size: 1.2rem;

  background-color: #ebebeb;
}

.form__result {
  padding: 0.4rem 0;

  font-size: 1.2rem;
}
