.form {
  border-radius: 0.6rem;
  border: 0.1rem solid var(--color-nuance-dark);
  padding: 1rem;
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem;
  align-items: center;

  font-size: 1rem;
}

.form__text {
  margin-block: 0;
  font-size: 1.2rem;
  color: var(--color-text);

  &:empty {
    display: none;
  }
}

.form__input-wrapper {
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 0.6rem;
}

.form__select {
  border-radius: 0.3rem;
  border: 0.1rem solid var(--color-nuance-dark);
  padding: 0.3rem;
  width: 100%;

  font-family: var(--font-family-mono);
  font-size: 1rem;
  color: var(--color-text);

  background-color: transparent;

  transition: border-color 0.3s ease;

  &:hover {
    border-color: var(--color-accent);
  }

  &:focus-visible {
    outline: 0.1rem solid var(--color-accent);
    border-color: var(--color-accent);
  }
}

.form__optgroup {
  text-transform: uppercase;
}

.form__option {
  font-family: var(--font-family-mono);
  font-size: 1rem;
  text-transform: none;
}

.form__input {
  border-radius: 0.3rem;
  border: 0.1rem solid var(--color-nuance-dark);
  padding: 0.3rem 0.6rem;
  width: 100%;

  font-family: var(--font-family-mono);
  font-size: 1rem;

  color: var(--color-text);
  transition: border-color 0.3s ease;

  &:hover {
    border-color: var(--color-accent);
  }

  &:focus-visible {
    outline: 0.1rem solid var(--color-accent);
    border-color: var(--color-accent);
  }

  &:disabled {
    border-color: var(--color-nuance-dark);
  }
}

.form__submit {
  align-self: start;

  border-radius: 0.3rem;
  border: none;
  padding: 0.3rem 0.6rem;

  font-family: var(--font-family-basic);
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--color-text);

  background-color: var(--color-nuance-light);
  transition: background-color 0.3s ease, opacity 0.3s ease;

  &:hover {
    background-color: var(--color-accent);
  }

  &:active {
    opacity: 0.5;
  }

  &:focus-visible {
    outline: 0.15rem solid var(--color-accent);
  }

  &:disabled {
    background-color: var(--color-nuance-light);
    color: var(--color-nuance-dark);
    opacity: 1;
  }
}

.form__result {
  padding: 0.4rem 0;

  font-size: 1.2rem;
}
