.page {
  --font-family-basic: "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif;
  --font-family-mono: "Lucida Console", "Monaco", monospace;

  font-family: var(--font-family-basic);
}


.page__body {
  margin: 0;

  padding-block: 3.6rem;
  border: 0;
  min-height: 100vh;
  /* stylelint-disable-next-line declaration-block-no-duplicate-properties */
  min-height: 100dvh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}

.page__main {
  width: 100%;
}

.page__title {
  margin-top: 0;
  margin-bottom: 1.2rem;
}
